.checkoutProduct{
    display: flex;
    max-height: 200px;
    margin:20px;
}
.checkout__image{
    width: 100%;
    max-height: inherit;
}
.checkout__image img{
    object-fit: contain;
    height:100%;
    width: 100%;
}
.product__info{
    display: flex;
    flex-direction: column;
    width:100%;
}

.product__info h2{
    margin:0px;
    font-size: 1em;
}
.product__rating p{
    margin:0px;
}
.button{
    color:black;
    background-color:#f0c14b ;
    border: 1px solid;
    border-color:#a88734 #9c7e31 #846a29;
    padding:2px;
    width:100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.product__quantity{
    display: flex;
    align-items: center;
    background-color: white;
    width:fit-content;
    border: 1px solid grey;
    border-radius: 8px;
    margin:10px;
    margin-left: 0px;
}
.product__quantity > *{
    padding: 5px;
}
.product__quantity > :hover{
    color:white;
    background-color: black;
}

.remove__qty{
    border-right: 1px solid grey;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.actual__qty{
    width:25px;
    text-align: center;
    height: 24px;
}
.add__qty{
    border-left: 1px solid grey;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}