.home{
    max-width: 1500px;
    margin: auto;
}

.home__image, .alice-carousel{
    object-fit: contain;
    width: 100%;
    mask-image: linear-gradient(black,grey,transparent);
    margin-bottom: -150px;
}
.home__row{
    display: flex;
    max-height: 400px;
    margin-top: 25px;
}
.alice-carousel__prev-btn, .alice-carousel__next-btn, .alice-carousel__dots{
display: none !important;
}