.payment__container{
    display: flex;
    flex-direction: column;
}

.payment__section{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
}
.payment__section *{
    flex:1;
}

.payment__card{
    padding: 20px 0px;
}
.payment__buyButton{
    color:black;
    background-color:#f0c14b ;
    border: 1px solid;
    border-color:#a88734 #9c7e31 #846a29;
    padding:2px;
    width:50%;
}